#!/usr/bin/make -f
# export DH_VERBOSE = 1

export ROOT = debian/tmp
export METRICS_MGR_PKG="metrics-server-3.8.2.tgz"

%:
	dh $@

override_dh_auto_build:
	tar xzf $(METRICS_MGR_PKG)
	# Host a server for the helm charts.
	chartmuseum --debug --port=8879 --context-path='/charts' --storage="local" \
		--storage-local-rootdir="." &
	sleep 2
	# Copy Chart yaml file to build folder
	cp metrics-server/Chart.yaml debian/Chart.yaml
	# Create the TGZ file.
	make
	# Terminate the helm chart server.
	pkill chartmuseum

override_dh_auto_install:

override_dh_auto_test:
